.sectionBannerFit {
  position: relative;
}

.backgroundBannerFit {
  width: 100%;
  height: 200px;
  margin-top: -126px;
  background-color: #FFF;
  background-image: url("../../assets/svg/fundo-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.containerTextBannerFit {
  position: absolute;
  width: 100%;
  top: 0;
}

.bannerFit {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  margin-top: -71px;
  position: relative;

}

.bannerFit img{
  width: 100%;
}

.background img {
  max-width: 100%;
  height: auto;
}

.textBannerFit {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
}

.textTitleBannerFit {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.linkBannerFit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;

  
}

.linkBannerFit a {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.88px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

.linkBannerFit img {
  margin-left: 13px;
  width: 16px;
}

@media (max-width:768px){
  .textBannerFit{
    top: 40%;
  }
}

@media (max-width:520px) {
  .textBannerFit{
    top: 30%;
  }

  .textTitleBannerFit{
    font-size: 20px;
  }
}