.sectionVideo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 588px;
  background-color: #000;
  background-image: url("../../assets/svg/fundo-black.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.sectionVideo p {
  padding-top: 73px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}

.textYouTube{
  position: absolute;
  top: -55px;
}

.containerVideo {
  position: absolute;
  top:10% ;
  max-width: 630px;
  width: 100%;
  cursor: pointer;
}

.containerVideo>img {
  width: 100%;
  object-fit: contain;
}

.containerLogoVideo {
  position: absolute;
  top: 0;
}

.containerVideo .txtVideo {
  position: absolute;
  top: -48px;
  left: 95px;
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logoVideo {
  height: 48px;
  width: 48px;
  background: #000;
  border-radius: 50%;
  position: relative;
  margin: 16px 0 0 30px;
}

.logoVideo img {
  position: absolute;
  top: 25%;
  left: 30%;
}

.logoVideo>p {
  position: absolute;
  margin-top: 16px;
  top: -164%;
  height: 48px;
  text-transform: capitalize;
  left: 100%;
  width: 435px;
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imgePlay {
  position: absolute;
  top: 199%;
  bottom: 0;
  left: 331%;
  right: 50%;
}

@media (max-width:1024px){
  .sectionVideo{
    height: 610px;
  }
  .textYouTube{
    position: absolute;
    top: -30px;
  }
  .containerVideo{
    top: 16%;
  }
}

@media (max-width:768px){

}

@media (max-width:520px) {
  .containerVideo{
    top: 20%;
  }

  .containerVideo .txtVideo{
    top: -55px;
    left: 80px;
  }
}

