.sectionMainBanner {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainBanner {
  width: 100%;
  object-fit: cover;

}

.containerMainBanner {
  width: 100%;
  margin-bottom: -4px;
  position: relative;
}

.sectionMainBanner img {
  cursor: pointer;
}

.containerTextMainBanner {
  position: absolute;
  bottom: 0;
  top: 80%;
  left: 0;
  right: 0;
  cursor: pointer;
}

.textMainBanner {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 19.2px;
  text-transform: uppercase;
}

.linkMainBanner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkMainBanner a {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.88px;
  text-transform: uppercase;
  margin-top: 1.375rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.linkMainBanner a img {
  margin-left: 13px;
}

.sectionSecondariBanner {
  display: flex;
  width: 100%;
  background-color: #000;
}

.containerBannerRight {
  width: 50%;
  position: relative;

}

.containerBannerLeft {
  width: 50%;
  position: relative;
}

.containerBannerRight img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerBannerLeft img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.containerTextBannerRight {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.textBannerRight {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.linkBannerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.linkBannerRight a {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.88px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.linkBannerRight img {
  margin-left: 13px;
  width: 16px;
  height: 16px;
}


.containerTextBannerLeft {
  cursor: pointer;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.textBannerLeft {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.linkBannerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.linkBannerLeft  a{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.88px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkBannerLeft img {
  margin-left: 13px;
  width: 16px;
  height: 16px;
}

@media (max-width:1024px) {
  .containerTextMainBanner{
    top: 65%;
  }
}


@media (max-width:768px){
  .containerTextMainBanner{
    top: 70%;
  }

  .containerTextMainBanner > p{
    font-size: 1.25rem;
    letter-spacing: 10px;

  }

  .textBannerRight, .textBannerLeft{
    font-size: .9375rem;
  }

}